.container {
  display: flex;
  height: 100vh;
  background-color: #111;
  color: white;
}

.sidebar {
  width: 25%;
  background-color: #1d1d1d;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainContent {
  width: 75%;
  padding: 40px;
  overflow-y: auto;
}

.profile {
  display: flex;
  flex-direction: column;
  gap: 20px ;
  text-align: center;
}

.profileImg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.button {
  padding: 8px 16px;
  border-radius: 30px;
  background-color: #494949;
  color: #fff;
  border: none;
  cursor: pointer;
}

.socials {
  display: flex;
  justify-content: space-around;
  font-size: 32px;
}
.address{
  
}

.about, .skills {
  margin-bottom: 40px;
}

.skillGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.skillCard {
  background-color: #1d1d1d;
  padding: 20px;
  border-radius: 8px;
}

.skillCard h4 {
  color: #00ff6f;
  margin-bottom: 10px;
}
